*{
    margin:0;
    padding:0;
}
body{
    background-color: beige;
}
.header{
    margin-top:2px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    color:white;
    padding:20px;
}
h1{
    display:flex;
    align-items: center;
    gap:5px;
    padding-left:20px;
    font-size: 30px;font-weight: 600;
}
.h1-img{
    height:3.2rem;
    width:3.2rem;
    
}
.human-img{
    height:3rem;
    width:9rem;
    padding-right: 30px;
    /*mix-blend-mode: multiply;
    filter: invert(200%) brightness(500%);*/

}
.para{
    margin-left:20%;
    margin-right:20%;
    margin-top:2%;
    background-color: white;
    padding:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.para1{
    font-weight: bolder;
}
.para2{
    margin-top:10px;
}
.nav{
    display:flex;
    align-items: center;
    width:60%;
    max-width:100%;
    background-color: blueviolet;
    padding:15px;
    color:white;
    margin:15px auto;
    justify-content: space-between;
}
.arr-img{
    height:2rem;
    width:2rem;
    mix-blend-mode: multiply;
}
#main{
    margin-top:20px;
    margin-left:20%;
    margin-right:20%;
    background-color: aquamarine;
    padding:15px;
    justify-content: center;
    align-items: center;
    
}
#main h4{
  font-size:22px;
  margin:10px auto;
}
#to{
    margin-top:22px;
    margin-left:40px;
    height:2rem;
    width:12rem;
    padding:5px;
    font-size:18px;
    border:3px solid black;
    outline:none;
    cursor:pointer;
}
#from{
    margin-left:100px;
    height:2rem;
    width:12rem;
    padding:5px;
    font-size:18px;
    border:3px solid black;
    outline:none;
    cursor:pointer;
}
#btn{
    margin:20px auto;
    display: flex;
    align-items: center;
    background-color: olive;
    height:3rem;
    width:10rem;
    padding:10px;
    gap:10px;
    font-size:22px;
    font-weight: 500;
    color:white;
    border:0;
    outline:none;
    cursor:pointer;
}
.arrow-img{
    height:2rem;
    width:2rem;
}
.msg{
    margin:40px auto;
    width:27%;
    max-width:600px;
    text-align: center;
    padding:20px;
    font-size: 26px;
    font-weight: 600;
    cursor:pointer;
    border-radius: 40px;
}

@media screen and (max-width: 768px){
    .para{
        margin:10px 20px;
    }
    .h1{
        display:flex;
        align-items: center;
        gap:2px;
    }
    #main{
        display:grid;
        width:70%;
        margin:20px auto;
    }
    #main h4{
        font-size:20px;
        text-align: center;
        display:grid;
        
    }
    #to, #from{
        margin:10px auto;
        width:140px;
        height:1rem;
        align-items: center;
        justify-content: center;
    }
    #btn{
        width:150px;
        font-size:20px;
    }
    .msg{
        font-size:22px;
        width:60%;
    }
}

@media screen and (min-width:600px) and (max-width:900px){
    #main{
        display:grid;
    }
    #main h4{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    #to{
        font-size:16px;
        margin-left:15px;
    }
    #from{
        font-size:16px;
        margin-left:70px;
    }
}